{% extends "layout.html" %}

{% block title %}Contact Us{% endblock %}

{% block content %}
    <h1>Contact Us</h1>
    <h3>Mobile: {{mob}}</h3>
    <h3>Email: {{email}}</h3>
    {% if a > b %}
        <p>{{a}} is greater</p>
    {% elif a is b %}
        <p>Both are equal</p>
    {% else %}
        <p>{{b}} is greater</p>
    {% endif %}
    <ul>
    {% for l in languages %}
        <li>{{l}}</li>
    {% endfor %}
    </ul>

    <h3>{{blog.title}}</h3>
    <p>{{blog.author}}</p>
    <p>{{blog.content}}</p>

    {% for k,v in blog.items %}
        <p>{{k}} : {{v}}</p>
    {% endfor %}

    <table border="1" cellpadding="5">
        <tr>
            <th>Roll</th>
            <th>Name</th>
            <th>CGPA</th>
        </tr>
        {% for student in students  %}
            <tr>
                <td>{{student.roll}}</td>
                <td>{{student.name}}</td>
                <td>{{student.cgpa}}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock  %}