{% extends "layout.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container">
        <div class="row  g-2">
            <div class="col-md-7 hero-text">
                <h1 class="display-5 fw-semibold mb-1">Welcome to PulseAI: Your Partner in Heart Health</h1>
                <p class="lead">Unlock the power of AI to take control of your heart health journey. PulseAI is your comprehensive portal offering expert insights, personalized tools, and seamless healthcare access—all in one place.</p>
                <ul>
                    <li>Expert Insights</li>
                    <li>AI-Powered Predictive Tools</li>
                    <li>Direct Access to Cardiologists</li>
                    <li>Manage Your Health</li>
                </ul>
                <a href="" class="btn btn-outline-dark rounded-0">Take a test</a>
            </div>
            <div class="col-md-5 d-none d-md-block">
                <img src="{% static "images/hero-img.jpg" %}" class="img-fluid h-100">
            </div>
        </div>
    </div>
{% endblock  %}