{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <title>PulseAI 
        {% block title %}{% endblock %}
    </title>
</head>
<body>
    <nav class="navbar navbar-expand-lg mb-1 shadow-sm">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <h3>PulseAI</h3>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" href="{% url "home" %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url "about" %}">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url "contact" %}">Contact</a>
              </li>

            </ul>
          </div>
        </div>
      </nav>

    {% block content %}

    {% endblock %}

    <footer class="bg-light py-5 text-center mt-3">
        &copy; 2024 | PulseAI
    </footer>
    <script src="{% static "js/bootstrap.bundle.min.js" %}"></script>
</body>
</html>